<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Listes des utilisateurs </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="mat-elevation-z8">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder=" Filter">
      </mat-form-field>

      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> identifiant </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="datecreation">
          <th mat-header-cell *matHeaderCellDef> date de creation </th>
          <td mat-cell *matCellDef="let element"> {{element.datecreation}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="datefin">
          <th mat-header-cell *matHeaderCellDef> date de fin </th>
          <td mat-cell *matCellDef="let element"> {{element.datefin}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="profile">
          <th mat-header-cell *matHeaderCellDef> Profile </th>
          <td mat-cell *matCellDef="let element"> {{element.profile}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
        <!-- Symbol Column -->
        <ng-container matColumnDef="password">
          <th mat-header-cell *matHeaderCellDef> Password </th>
          <td mat-cell *matCellDef="let element"> {{element.password}} </td>
        </ng-container>

        <ng-container matColumnDef="photoPath">
          <th mat-header-cell *matHeaderCellDef> Photo Link </th>
          <td mat-cell *matCellDef="let element"> {{element.photoPath}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let row ; let element">
            <button [disabled] ="((controle.iseditor) && (element.proteger) ? true : false ) || controle.isuser ? true : false" mat-icon-button color="warn" (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
            <button [disabled]="controle.iseditor ? true : false ||  controle.isuser ? true : false" mat-icon-button color="primary" (click)="onDelete(row.id)"><mat-icon>delete_outline</mat-icon></button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>

  </mat-card-content>
</mat-card>
